<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FinelineDatabase.Properties.Settings.printableConnectionString"
            connectionString="Data Source=SQL1;Initial Catalog=printable;Persist Security Info=True;User ID=fpgwebservice;Password=kissmygrits"
            providerName="System.Data.SqlClient" />
        <add name="FinelineDatabase.Properties.Settings.pLogicConnectionString"
            connectionString="Data Source=SQL1;Initial Catalog=pLogic;Persist Security Info=True;User ID=fpgwebservice;Password=kissmygrits"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>